mixin order()

  -
    const orderItems = [
      {
        img: {
        path: "content",
        name: "img-1",
        format: "jpg",
        width: 130,
        height: 160,
        alt: "Утепленная стеганная куртка женская Top Hills",
      },
        name: "Утепленная стеганная куртка женская Top Hills",
        art: "512-05",
        season: "Осень-зима",
        size: [
         {
            s: "XS",
            disabled: false,
            checked: false,
          },
          {
            s: "S",
            disabled: false,
            checked: false,
          },
          {
            s: "M",
            disabled: false,
            checked: true,
          },
          {
            s: "L",
            disabled: false,
            checked: false,
          },
          {
            s: "XL",
            disabled: false,
            checked: false,
          }
        ],
        input: "-jacket",
        color: [
          {
            colorItem: "color-1",
            checked: true,
          },
          {
            colorItem: "color-2",
            checked: false,
          },
          {
            colorItem: "color-3",
            checked: false,
          },
        ],
      },
      {
        img: {
        path: "content",
        name: "img-2",
        format: "jpg",
        width: 130,
        height: 160,
        alt: "Вязанная шапка Zolla",
      },
        name: "Вязанная шапка Zolla",
        art: "891-256",
        season: "Демисезон",
        size: [
         {
            s: "XS",
            disabled: false,
            checked: false,
          },
          {
            s: "S",
            disabled: false,
            checked: true,
          },
          {
            s: "M",
            disabled: false,
            checked: false,
          },
          {
            s: "L",
            disabled: true,
            checked: false,
          },
          {
            s: "XL",
            disabled: true,
            checked: false,
          }
        ],
        input: "-hat",
          color: [
          {
            colorItem: "color-1",
            checked: true,
          },
        ],
      }
    ]
  .order
    .container
      .order__wrapper
        .order__left
          .order__header-wrap
            h1.order__header Оформление заказа
            p.order__acc Есть аккаунт?
              a.order__acc-link Войти

          .order__items
            p.order__items-header #[span 3] товара на сумму #[span 25 000] ₽
            .order__card-wrap
              .order__card-delete
                p.order__card-delete-text Товар #[span.order__card-delete-name Наименование товара] был удален из корзины. #[span.order__card-delete-re Восстановить]
              ul.order__card-list
                each item in orderItems
                  li.order__card
                    .order__card-item
                      .order__card-img
                        +img(item.img.path, item.img.name, item.img.format, item.img.width, item.img.height, item.img.alt)
                      .order__card-about
                        p.order__card-name= item.name
                        p.order__card-art Артикул #[span= item.art]
                        p.order__card-season Сезон #[span= item.season]
                        form(action="#" method="get")
                          .order__card-sizes
                            each i in item.size
                              .order__card-size-item
                                input(type="radio", id= i.s+item.input, value= item.input, name= item.input, disabled= i.disabled, checked= i.checked).visually-hidden
                                label(for= i.s+item.input)= i.s
                        .order__card-colors
                          each c in item.color
                            .order__color-item
                              input(type="radio", id= c.colorItem+item.input, value= item.input, name= item.input, checked= c.checked).visually-hidden
                              label(for= c.colorItem+item.input)
